@import 'reset/reset'; // reset style
@import '@fontsource/nunito-sans';

// main

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: $color-lotion;
}
